# NFS Provisioner Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nfs-provisioner

resources:
  - namespace.yaml

# Helm chart is deployed separately via Makefile
# See helm/nfs-provisioner-values.yaml for configuration
